.header-container {
  height: var(--header-size);
}

.header-container .logo {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  gap: 0 10px;
}

.header-container .logo img {
  width: 48px;
  height: 48px;
}

.header-container p {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 46px;
  color: var(--logo-text-color);
}
.header-container .login-btn .signIn-btn {
  padding: 4px 16px;
  border-radius: 0.1875rem;
  color: white;
  background-color: var(--logo-text-color);
}
@media (min-width: 1400px) {
  .login-container {
    margin-inline: 45px;
  }
  .header-container .logo {
    padding: 20px 20px;
  }
}
